# Базовые пакеты для Data Science и ML
# Укажите точные версии пакетов, которые вы используете в своем решении

# Обработка данных
pandas==2.3.3
numpy==1.26.4

# Машинное обучение (выберите нужные)
scikit-learn==1.7.2
joblib==1.5.3
# xgboost
# lightgbm
catboost==1.2.5

# Глубокое обучение (раскомментируйте при необходимости)
# torch
# tensorflow

# Визуализация (если нужна)
matplotlib==3.10.8
# seaborn
tqdm==4.67.1